body {
background-color:#D7F0F9;}
h1{
color:orange;
}
p{
  color:#DF5796;
}


ul {
 list-style: none;
}

.navbar {
  overflow: hidden;
  background-color: #DF5796;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: skyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #orange;
  color: #FEC324;
}

.navbar a.active {
  background-color: #F0653E;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
